* {
  margin: 0px;
  padding: 0px;
  /* border: solid black 1px; */
}
body {
  background-color: #f92;
  font-family: 'Open Sans';
  font-family: ;
}
nav>a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 5px 0 5px 10px;
  background-color: #257;
  border-radius: 5px;
}
.container {
  display: flex;
  margin: 10px;
  min-height: 400px;
  background-color: #257;
  border-radius: 25px;
  min-width: 1000px;
}

.left {
  width: 25%;
}
.logo {
  display: block;
  width: 100%;
  height: 100px;
  background: url('../odin_logo.png') no-repeat center;
  color: white;
  text-align: center;
  font-size: 75px;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: #fed;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}
.menuRow{
  display: flex;
  justify-content: space-between;
}
.menuRow>input {
  vertical-align: middle;
  width: 60px;
  height: 20px;
}
.filter {
  color: white;
  padding: 20px;
  width: 75%;
}
.stage {
  position: relative;
  background-color: lightblue;
  border-radius: 25px;
  margin: 0 10px 10px 0;
  min-width: 740px;
}